/* Styles */
@import "nav.css";
@import "home.css";
@import "about.css";
@import "contact.css";

:root {
  --black: #000;
  --white: #fff;
  --dark-gray: #252424;
  --light-gray: #dfdfdf;
  --green: #25bb73;
  --blue: #20719a;
  --font-primary: white;
  --font-secondary: var(--dark-gray);
  --border-radius: 20px;
  --nav-height: 60px;
  --nav-vertical-padding: 0.5rem;
  --total-nav-height: calc(var(--nav-height) + 2 * var(--nav-vertical-padding));
  --nav-max-width: 1500px;
  --content-max-width: 1200px;
  --section-header-height: 120px;
  --box-shadow: 2px 2px 4px #717070;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
  user-select: none;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

input {
  font-size: 1.5rem;
  min-width: 300px;
}

input,
textarea,
button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: calc(var(--border-radius) / 2);
  box-shadow: var(--box-shadow);
}

button {
  cursor: pointer;
  background: salmon;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

& button:hover {
  scale: 1.05;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--section-header-height);
  width: inherit;
  background: whitesmoke;

  & h2 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--dark-gray);
    text-shadow: 2px 2px 4px #717070;
  }
}

a {
  text-decoration: none;
}

.back-to-top {
  margin: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
  color: white;
  background: var(--dark-gray);
  border-radius: var(--border-radius);
}

.back-to-top:hover {
  scale: 1.05;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  width: inherit;
  background-color: var(--dark-gray);
  color: var(--white);
  font-size: 1.25rem;
}
